nav {
  width: 100vw;
  height: 7.5rem;
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
  background-color: #0d2735;
  border-bottom: #ec0b30 solid 0.4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: var(--transition);
}

.container.nav-container {
  width: 100%;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container > a {
  background-color: #83aebb;
  padding-left: 2rem;
  width: 18rem;
  border: .1rem solid #ec0b30;
  border-left: none;
}

.nav-logo {
  font-size: 2rem;
  width: 12rem;
}

.nav-menu {
  display: flex;
  gap: 4rem;
}

.nav-menu li {
  font-size: 150%;
}

.nav-menu a.active,
.nav-menu a:active,
.nav-menu a:hover {
  color: #83aebb;
}

#theme-icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-container > a {
    width: 17rem;
  }

  .container.nav-container {
    padding-right: 2rem;
  }
}